/* Removed Tailwind directives because build tool does not support them */

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(210 25% 7.8431%);
  --card: hsl(180 6.6667% 97.0588%);
  --card-foreground: hsl(210 25% 7.8431%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(210 25% 7.8431%);
  --primary: hsl(152 100% 21%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(50 97% 54%);
  --secondary-foreground: hsl(152 100% 21%);
  --muted: hsl(152 20% 95%);
  --muted-foreground: hsl(152 100% 15%);
  --accent: hsl(50 97% 90%);
  --accent-foreground: hsl(152 100% 21%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(201.4286 30.4348% 90.9804%);
  --input: hsl(200 23.0769% 97.4510%);
  --ring: hsl(152 100% 21%);
  --chart-1: hsl(152 100% 21%);
  --chart-2: hsl(50 97% 54%);
  --chart-3: hsl(220 100% 25%);
  --chart-4: hsl(351 85% 46%);
  --chart-5: hsl(152 80% 35%);
  --sidebar: hsl(152 15% 97%);
  --sidebar-foreground: hsl(210 25% 7.8431%);
  --sidebar-primary: hsl(152 100% 21%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(50 97% 90%);
  --sidebar-accent-foreground: hsl(152 100% 21%);
  --sidebar-border: hsl(152 25% 85%);
  --sidebar-ring: hsl(152 100% 21%);
  --ghana-green: hsl(152 100% 21%);
  --ghana-blue: hsl(220 100% 25%);
  --ghana-gold: hsl(50 97% 54%);
  --ghana-red: hsl(351 85% 46%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(200 6.6667% 91.1765%);
  --card: hsl(228 9.8039% 10%);
  --card-foreground: hsl(0 0% 85.0980%);
  --popover: hsl(0 0% 0%);
  --popover-foreground: hsl(200 6.6667% 91.1765%);
  --primary: hsl(152 100% 25%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(50 90% 60%);
  --secondary-foreground: hsl(152 100% 10%);
  --muted: hsl(152 15% 8%);
  --muted-foreground: hsl(152 20% 65%);
  --accent: hsl(152 30% 12%);
  --accent-foreground: hsl(152 100% 25%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(210 5.2632% 14.9020%);
  --input: hsl(207.6923 27.6596% 18.4314%);
  --ring: hsl(152 100% 25%);
  --chart-1: hsl(152 100% 25%);
  --chart-2: hsl(50 90% 60%);
  --chart-3: hsl(220 100% 35%);
  --chart-4: hsl(351 85% 55%);
  --chart-5: hsl(152 70% 40%);
  --sidebar: hsl(152 15% 8%);
  --sidebar-foreground: hsl(0 0% 85.0980%);
  --sidebar-primary: hsl(152 100% 25%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(152 30% 12%);
  --sidebar-accent-foreground: hsl(152 100% 25%);
  --sidebar-border: hsl(152 20% 20%);
  --sidebar-ring: hsl(152 100% 25%);
  --ghana-green: hsl(152 100% 21%);
  --ghana-blue: hsl(220 100% 25%);
  --ghana-gold: hsl(50 97% 54%);
  --ghana-red: hsl(351 85% 46%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
}

@layer base {
  * {
    border-color: var(--border);
    border-style: solid;
    border-width: 0;
  }

  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background);
    color: var(--foreground);
  }
}